spring:
  datasource:
    url: URL
    username: USERNAME
    password: PASSWORD
    driver-class-name: org.postgresql.Driver
  jpa:
    database: mysql
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect
  profiles:
    active: local